<?xml version="1.0" encoding="UTF-8"?>
#TLH_TEST_APPID
#WXCHATPAY_NATIVE_APPID=wx90aca896de058a57
#WXCHATPAY_JSAPI_PB_SECRECT=d4624c36b6795d1d99dcf0547af5443d

#online for ths
WXCHATPAY_NATIVE_APPID=wxaf0659defda76f89
WXCHATPAY_JSAPI_PB_SECRECT=560f9242c89b8edd94a3221c0d3f0d62

WXCHATPAY_NATIVE_API_KEY=abcdefghijklmnopqrstuvwxyzjtst17
WXCHATPAY_NATIVE_MCH_ID=1486551382
WXCHATPAY_NATIVE_NOTIFY_URL=