<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Courses_teacherMapper">
	
	<!--表名 -->
	<sql id="tableName">
		SCHOOL_COURSES_TEACHER
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		COURSES_TEACHER_ID,	
		COURSES_ID,	
		USER_ID,	
		REMAKE
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
		#{COURSES_TEACHER_ID},	
		#{COURSES_ID},	
		#{USER_ID},	
		#{REMAKE}
	</sql>
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into 
	<include refid="tableName"></include>
		(
	<include refid="Field"></include>
		) values (
	<include refid="FieldValue"></include>
		)
	</insert>
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where 
			COURSES_TEACHER_ID = #{COURSES_TEACHER_ID}
	</delete>
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
			COURSES_TEACHER_ID = #{COURSES_TEACHER_ID},
			COURSES_ID = #{COURSES_ID},
			USER_ID = #{USER_ID},
			REMAKE = #{REMAKE}
		where 
		COURSES_TEACHER_ID = #{COURSES_TEACHER_ID}
	</update>
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 
			COURSES_TEACHER_ID = #{COURSES_TEACHER_ID}
	</select>
	
		<select id="findByName" parameterType="pd" resultType="pd">
	SELECT
		s.NAME
				FROM `school_course` c LEFT JOIN `sys_user` s ON c.`user_id`=s.`USER_ID`
				WHERE COURSES_ID=#{COURSES_ID}
	</select>
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
		sct.COURSES_TEACHER_ID,	
		sct.COURSES_ID,	
		sct.USER_ID,	
		sct.REMAKE,
		sc.COURSES_NAME,
		su.NAME
		from 
		school_courses_teacher sct
		left join school_course sc
		on sct.COURSES_ID=sc.COURSES_ID
		left join sys_user su
		on sct.USER_ID=su.user_id
		where 1=1
		<if test="pd.COURSES_ID!= null and pd.COURSES_ID != ''"><!-- 关键词检索 -->
			and sct.COURSES_ID=#{pd.COURSES_ID}
		</if>
		<if test="pd.USER_ID!= null and pd.USER_ID != ''"><!-- 关键词检索 -->
			and sct.USER_ID=#{pd.USER_ID}
		</if>
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from
		<include refid="tableName"></include>
		where 
			COURSES_TEACHER_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
<!-- 根据老师id查询课程-->
	<select id="listAllByUserId" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		<where>
			USER_ID=#{USER_ID}
		</where>
	</select>
</mapper>