<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="InvestMapper">
	
	<!--表名 -->
	<sql id="tableName">
		USERINVEST
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		INVEST_ID,	
		INVEST_USER_ID,	
		INVEST_PRODICTS_ID,	
		INVEST_CREATETIME,	
		INVEST_CREATEBY,	
		INVEST_DICTIONARIESID
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
		#{INVEST_ID},	
		#{INVEST_USER_ID},	
		#{INVEST_PRODICTS_ID},	
		#{INVEST_CREATETIME},	
		#{INVEST_CREATEBY},	
		#{INVEST_DICTIONARIESID}
	</sql>
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into 
	<include refid="tableName"></include>
		(
	<include refid="Field"></include>
		) values (
	<include refid="FieldValue"></include>
		)
	</insert>
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where 
			INVEST_ID = #{INVEST_ID}
	</delete>
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
			INVEST_USER_ID = #{INVEST_USER_ID},
			INVEST_PRODICTS_ID = #{INVEST_PRODICTS_ID},
			INVEST_CREATETIME = #{INVEST_CREATETIME},
			INVEST_CREATEBY = #{INVEST_CREATEBY},
			INVEST_DICTIONARIESID = #{INVEST_DICTIONARIESID}
		where 
		INVEST_ID = #{INVEST_ID}
	</update>
	
	<!-- 查询用户是否购买产品 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		user_invest
		where INVEST_STATE != 1
		<if test="PRODUCTSINFO_ID != null and PRODUCTSINFO_ID != ''">
			and INVEST_PRODICTS_ID = #{PRODUCTSINFO_ID}
		</if>
		<if test="USERINFO_ID != null and USERINFO_ID != ''">
			and INVEST_USER_ID = #{USERINFO_ID}
		</if>
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select * from products_productsinfo 
			INNER JOIN user_invest 
			on  products_productsinfo.PRODUCTSINFO_ID = user_invest.INVEST_PRODICTS_ID
			<where>
				 INVEST_STATE != 1
				<if test="pd.INVEST_PRODICTS_ID != null and  pd.INVEST_PRODICTS_ID != ''">
					and products_productsinfo.PRODUCTS_TYPE2_ID = #{pd.INVEST_PRODICTS_ID }
				</if>
				<if test="pd.INVEST_USER_ID != null and pd.INVEST_USER_ID != ''">
					and user_invest.INVEST_USER_ID=#{pd.INVEST_USER_ID}
				</if>
			</where>
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from
		<include refid="tableName"></include>
		where 
			INVEST_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	<!-- 根据用户查询分组 -->
	<select id="findByUidGroupBY" parameterType="pd" resultType="pd">
		select sys_dictionaries.NAME,
				<include refid="Field"></include> 
				from user_invest INNER JOIN web_userinfo on  user_invest.INVEST_USER_ID = web_userinfo.USERINFO_ID
				INNER JOIN sys_dictionaries on user_invest.INVEST_DICTIONARIESID = sys_dictionaries.DICTIONARIES_ID
				<if test="USERINFO_ID != null and USERINFO_ID != ''">
					 where INVEST_USER_ID = #{USERINFO_ID}
				</if>								
				GROUP BY user_invest.INVEST_DICTIONARIESID
	</select>
	<!-- 根据用户和分组进行查询 -->
	<select id="findByInvestId" parameterType="page" resultType="pd">
		
	</select>
</mapper> 