<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MessageinfoMapper">
	
	<!--表名 -->
	<sql id="tableName">
		DEP_MESSAGEINFO
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		MESSAGEINFO_ID,	
		MESSAGEINFO_TITLE,	
		MESSAGEINFO_CONTEXT,	
		MESSAGEINFO_URL,	
		MESSAGEINFO_PRODUCTS_ID,	
		MESSAGEINFO_CREATEBY,	
		MESSAGEINFO_CREATETIME
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
		#{MESSAGEINFO_ID},	
		#{MESSAGEINFO_TITLE},	
		#{MESSAGEINFO_CONTEXT},	
		#{MESSAGEINFO_URL},	
		#{MESSAGEINFO_PRODUCTS_ID},	
		#{MESSAGEINFO_CREATEBY},	
		#{MESSAGEINFO_CREATETIME}
	</sql>
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select DISTINCT aa.* from (
			select dp.*,(select count(READ_ID) from user_read 
				where READ_USER_ID=#{pd.READ_USER_ID}
				and READ_MESSAGEINFO_ID=dp.MESSAGEINFO_ID) readCount from 
				(select * from dep_messageinfo where MESSAGEINFO_PRODUCTS_ID in (
				select INVEST_PRODICTS_ID from user_invest where INVEST_USER_ID=#{pd.READ_USER_ID})) dp
			union all
			select p.*,(select count(READ_ID) from user_read 
				where READ_USER_ID=#{pd.READ_USER_ID}
				and READ_MESSAGEINFO_ID=p.MESSAGEINFO_ID) from dep_messageinfo p 
				where FIND_IN_SET(#{pd.USER_GROUPID},MESSAGEINFO_GROUP_ID)) aa
	</select>
	<!-- 查询总条数 -->
	<select id="getTotalResult" parameterType="pd" resultType="int">
	select COUNT(DISTINCT aa.MESSAGEINFO_ID) from (
		select * from dep_messageinfo 
		where MESSAGEINFO_PRODUCTS_ID in(
		select INVEST_PRODICTS_ID from user_invest 
		where INVEST_USER_ID=#{READ_USER_ID})
	UNION ALL
	select * from dep_messageinfo where FIND_IN_SET
	(#{USER_GROUPID},MESSAGEINFO_GROUP_ID)) aa
	</select>
	<!-- 查询所有产品存续消息 -->
	<select id="selectall" resultType="pd">
		select * from dep_information
	</select>
	
	<select id="findinformationbyid" parameterType="string" resultType="pd">
		select * from dep_information where INFORMATION_ID=#{INFORMATION_ID}
	</select>
	
	<select id="findmessageinfobyid" parameterType="string" resultType="pd">
		select * from dep_messageinfo where MESSAGEINFO_ID=#{MESSAGEINFO_ID}
	</select>
	
</mapper>