<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="NewsinfoMapper">
	
	<!--表名 -->
	<sql id="tableName">
		news_newsinfo
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		NEWSINFO_ID,	
		NEWINFO_TITLE,	
		NEWINFO_CONTENT,	
		NEWINFO_SECONDTITLE,	
		THUMBNAIL,	
		NEWINFO_TYPE_ID,	
		NEWINFO_STATE,	
		NEWINFO_CREATEBY,	
		NEWINFO_CREATETIME
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
		#{NEWSINFO_ID},	
		#{NEWINFO_TITLE},	
		#{NEWINFO_CONTENT},	
		#{NEWINFO_SECONDTITLE},	
		#{THUMBNAIL},	
		#{NEWINFO_TYPE_ID},	
		#{NEWINFO_STATE},	
		#{NEWINFO_CREATEBY},	
		#{NEWINFO_CREATETIME}
	</sql>
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into 
	<include refid="tableName"></include>
		(
	<include refid="Field"></include>
		) values (
	<include refid="FieldValue"></include>
		)
	</insert>
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where 
			NEWSINFO_ID = #{NEWSINFO_ID}
	</delete>
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
			NEWINFO_TITLE = #{NEWINFO_TITLE},
			NEWINFO_CONTENT = #{NEWINFO_CONTENT},
			NEWINFO_SECONDTITLE = #{NEWINFO_SECONDTITLE},
			THUMBNAIL = #{THUMBNAIL},
			NEWINFO_TYPE_ID = #{NEWINFO_TYPE_ID},
			NEWINFO_STATE = #{NEWINFO_STATE},
			NEWINFO_CREATEBY = #{NEWINFO_CREATEBY},
			NEWINFO_CREATETIME = #{NEWINFO_CREATETIME}
		where 
		NEWSINFO_ID = #{NEWSINFO_ID}
	</update>
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 
			NEWSINFO_ID = #{NEWSINFO_ID}
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 1=1
		<if test="pd.NEWINFO_STATE != null and pd.NEWINFO_STATE != ''"><!-- 关键词检索 -->
			and NEWINFO_STATE= #{pd.NEWINFO_STATE}
		</if>
		<if test="pd.NEWINFO_TITLE !=null and pd.NEWINFO_TITLE !=''">
			and NEWINFO_TITLE like concat('%',#{pd.NEWINFO_TITLE},'%')
		</if>
		<if test="pd.NEWINFO_TYPE_ID !=null and pd.NEWINFO_TYPE_ID !=''">
			and NEWINFO_TYPE_ID = #{pd.NEWINFO_TYPE_ID}
		</if>
		order by NEWINFO_CREATETIME desc
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from
		<include refid="tableName"></include>
		where 
			NEWSINFO_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
</mapper>